.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* NewWorkout.css */
.create-workout-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workout-form label {
  display: block;
  margin-bottom: 10px;
}

.workout-form input[type="text"],
.workout-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.workout-list {
  list-style: none;
  padding: 0;
}

.workout-item {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add these styles to your CSS file */
.home {
   
}

.nav-bar {
  display: flex; /* Use flexbox to arrange elements */
  justify-content: space-between; /* Space between left and right elements */
  align-items: center; /* Vertically align elements in the middle */
  background-color: #333; /* Background color of the header */
  color: #fff; /* Text color for links */
  padding: 10px 20px; 
}

.dumbell i {
  font-size: 24px; /* Adjust the size of the dumbbell icon */
  margin-right: 10px; /* Add margin to separate the icon from text */
  color:#61dafb;
}

.top-left {
  display: flex; /* Use flexbox for top-left section */
  align-items: center; /* Vertically center elements in top-left section */
}

.top-right {
  display: flex; /* Use flexbox for top-right section */
}

.nav-links {
  display: flex; 
  /* Use flexbox for navigation links */
}

.nav-link {
  text-decoration: none; /* Remove underlines from links */
  color: #fff; /* Text color for links */
  font-size: 18px; /* Font size for links */
  margin-right: 20px; /* Add margin for spacing between links */
}

/* Style the links on hover */
.nav-link:hover {
  text-decoration: underline; /* Underline links on hover */
}
/* Add these styles to your CSS file */
.slideshow-container {
  position: relative;
  max-width: 100%;
  height: 100%;
  /* margin-top: 20px; Add margin below the navbar */
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

img {
  width: 100%;
  height: 10%;
}


/* styles.css */
/* signup page */
.signup-container {
  background-image: url("bgi.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
}

.signup-form {
  background-color: rgba(0, 0, 0, 0.7); /* Dark gray background with transparency */
  padding: 50px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.signup-form h1 {
  color: #3498db; /* Blue color for the header */
}

.signup-form label {
  display: block;
  margin-bottom: 5px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #3498db; /* Blue color for the button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 9px;
}
/* In your CSS stylesheet or a style block */
.all_wk-button {
  text-align: center;
}

.all_wk-button button {
  padding: 10px 20px;
  background-color:#3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.all_wk-button button:hover {
  background-color: #2980b9;
}


.signup-form button:hover {
  background-color: #2980b9; /* Darker blue color on hover */
}



/* In your CSS stylesheet or a style block */
.workouts-container {
  text-align: center;
  padding: 20px;
}

.workouts-heading {
  font-size: 24px;
  margin-bottom: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.error-message {
  color: red;
}

.workouts-list {
  list-style-type: none;
  padding: 0;
}

.workout-item {
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #9ae2ff;
  width: 1000px
}

.workout-details {
  text-align: left;
}

.workout-title {
  font-size: 18px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #3498db;
}

.workout-info {
  font-size: 16px;
  margin: 5px 0;
  color: rgb(63, 68, 76);
}

.workout-link {
  text-decoration:white;
  color: white;
}

.workout-link:hover {
  color: white;
}

.workouts-top-container{
  background-image: url("bgi.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  
  
  justify-content: center;
  font-weight: bold;
  width: 100%;
}



/* getbyid */


.workout-details-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3498db;
}

.workout-detail {
  font-size: 18px;
  margin: 5px 0;
  color: white;
}

.delete-button {
  background-color: #ff5252;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #ff0000;
}

.update-button-link {
  text-decoration: none;
}

.update-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.update-button:hover {
  background-color: #0056b3;
}
.workout-details-container {
  background-image: url('bgi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
   justify-content: center;
  align-items: center;
}

.workout-details-box {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.logout-button{
  width: 100%;
  padding: 10px;
  background-color: #3498db; /* Blue color for the button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}