


.leftDiv{
    width: 50%;
    color: white;
    font-weight: bold;
    align-self: center;
}

.main_div {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80d0a3 100%);
    height: 70vh;
    /* align-items: center; */
    font-size: 1.2rem;
}

.rightDiv{
    width: 50%;
    align-items: center;
}

.mainImg{
    width:45%;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .mycard {
     background-color: rgba(236,236,255, 0.4);
      
  }

  .dark-border {
    border: 1px solid black;
  }

  .myNav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }


  .myWorkouts {
    flex: 0 0 auto;
    width: 33.333333%;
  }

  @media (max-width: 780px) {
    .myWorkouts {
      flex: 0 0 auto;
      width: 50%;
    }
  }

  @media (max-width: 420px) {
    .myWorkouts {
      flex: 0 0 auto;
      width: 90%;
    }
  }
